Flask==0.10.1
Flask-Classy==0.6.8
Flask-Login==0.2.7
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.3
Jinja2==2.7.1
MarkupSafe==0.18
MySQL-python==1.2.4
SQLAlchemy==0.9.1
WTForms==1.0.5
Werkzeug==0.9.4
argparse==1.2.1
configobj==4.7.2
distribute==0.7.3
httplib2==0.8
ipython==1.1.0
itsdangerous==0.23
rpyc==3.2.3
six==1.4.1
sqlsoup==0.9.0
twilio==3.6.4
unittest2==0.5.1
wsgiref==0.1.2
